.table{
    margin-bottom: 20px;
    margin-top:10px;
}
.chart{
    margin-left:auto;
    margin-right:auto;
    /*overflow-x: scroll;*/
}

.container2{
    width:70%;
}

.cortsStat{
    margin-bottom: 60px;
}