.reserv{
    text-align:center;
}

.name{
    margin-top:15px;
}

.form-group{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    outline: none;
}

.form-control:focus{
    box-shadow: none;
}

.disabledBtn{
    background-color: blue;
}

.react-confirm-alert-body{
    text-align: center;
}